header{
   position: relative;
}
h1{
  border:5px solid black; padding: 20px; margin:20px; background-color:blue; text-align: center; color: red;
}
#italic{
  font-style:italic; margin:30; font-family:"Times New Roman", Times, serif; font-weight:bold; text-align: center;
}
body{background-color:#808080;}
h2{
  color:red; font-size: 1em;
}
.column-1 {
  width: 48%;
  display: inline-block;
  vertical-align:top;
  background-color:#FFA500;
  margin-left:5px;
}
.column-2 {
  width: 48%;
  display: inline-block;
  background-color:green;
  margin-left:5px;
}
footer{
  text-align: center; margin: 20px;
}
img{
  position:absolute;
  width:5%;
  left:90%;
  margin-top: 1%;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  img{
    width:10%;
  }
}