section#contact-info {font-size: 0.8em;}
section.job{background-color:#e9e5dc; padding:10px;margin:10px; border-radius: 15px;}
section ul.jobduties{font-size:0.8em;}
section ul li#redtext {color:red;}
section div#test{background-color:#e9e5dc;}